![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [145]:
# Import necessary packages
import pandas as pd
import numpy as np

# Begin coding here ...
# Use as many cells as you like

Importing the price data and checking the details.

In [146]:
price_df = pd.read_csv('data/airbnb_price.csv')

In [147]:
price_df.head()

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

In [148]:
price_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  object
 2   nbhood_full  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

In [175]:
price_df.isna().sum()

listing_id     0
price          0
nbhood_full    0
dtype: int64

In [150]:
price_df['listing_id'].is_unique

True

Importing the room type data and checking the details.

In [151]:
room_type_df = pd.read_excel('data/airbnb_room_type.xlsx')

In [152]:
room_type_df.head()

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

In [153]:
room_type_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   description  25199 non-null  object
 2   room_type    25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

In [154]:
room_type_df.isna().sum()

listing_id      0
description    10
room_type       0
dtype: int64

In [155]:
room_type_df['listing_id'].is_unique

True

Importing the last review data and checking the details.

In [156]:
last_review_df = pd.read_csv('data/airbnb_last_review.tsv', sep = '\t')

In [157]:
last_review_df.head()

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

In [158]:
last_review_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   host_name    25201 non-null  object
 2   last_review  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

In [159]:
last_review_df['listing_id'].is_unique

True

Attempting to merge data frames on the listing_id as the primary key for EDA

In [160]:
# Merging the three dataframes for EDA
merged_df = pd.merge(price_df, room_type_df, how='inner')
full_df = pd.merge(merged_df, last_review_df, how='inner')
print(full_df.head())

   listing_id        price  ...    host_name   last_review
0        2595  225 dollars  ...     Jennifer   May 21 2019
1        3831   89 dollars  ...  LisaRoxanne  July 05 2019
2        5099  200 dollars  ...        Chris  June 22 2019
3        5178   79 dollars  ...     Shunichi  June 24 2019
4        5238  150 dollars  ...          Ben  June 09 2019

[5 rows x 7 columns]

In [176]:
# checking if there are any extra null values after the merge
full_df.isna().sum()

listing_id      0
price           0
nbhood_full     0
description    10
room_type       0
host_name       8
last_review     0
dtype: int64

In [162]:
full_df.columns

Index(['listing_id', 'price', 'nbhood_full', 'description', 'room_type',
       'host_name', 'last_review'],
      dtype='object')

In [163]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25209 entries, 0 to 25208
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  object
 2   nbhood_full  25209 non-null  object
 3   description  25199 non-null  object
 4   room_type    25209 non-null  object
 5   host_name    25201 non-null  object
 6   last_review  25209 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.5+ MB

We would like to understand which dates are the earliest and most recent in our data. but as we noticed that the date column is actually object so we need to convert it to date type.

In [164]:
# Converting data type
full_df['last_review'] = pd.to_datetime(full_df['last_review'])
print(full_df['last_review'].dtype)

datetime64[ns]

In [165]:
# What is the date with the earliest review?
earliest_rev = full_df['last_review'].min()
print(earliest_rev)

2019-01-01 00:00:00

In [178]:
# What is the date with the most recent review?
most_recent_rev = full_df['last_review'].max()
print(most_recent_rev)

2019-07-09 00:00:00

Counting how many listings are private rooms in room_type

In [177]:
# checking categories count
full_df['room_type'].value_counts()

entire home/apt    13266
private room       11356
shared room          587
Name: room_type, dtype: int64

After running the last code we notice inconsistency in the categories of the room types, this will require alighning all of them accordingly and converting them to category type

In [168]:
full_df['room_type'] = full_df['room_type'].str.lower()
print(full_df['room_type'].value_counts())

entire home/apt    13266
private room       11356
shared room          587
Name: room_type, dtype: int64

In [180]:
full_df['room_type'] = full_df['room_type'].astype('category')
print(full_df['room_type'].dtype)

category

Now we are ready to answer the question of how many of the listings is private room

In [170]:
private_room_count = full_df['room_type'].value_counts()['private room']
print(private_room_count)

11356

What is the average listing price rounded to 2 dec?
we notice that the price is currently object which we need to convert to int. then we can proceed.

In [181]:
# Ensure 'price' column is of string type before using .str accessor
full_df['price'] = full_df['price'].astype(str)

# Remove non-numeric characters and convert to integer
full_df['price'] = full_df['price'].str.replace('dollar', '', regex=True)
full_df['price'] = full_df['price'].str.extract('(\d+)').astype('int')
print(full_df['price'].dtype)

int64

Now we goback to our question of getting the average price

In [172]:
avg_price = round(full_df['price'].mean(), 2)
print(avg_price)

141.78

Combining all the new vaiables into one dataframe with columns(first_reviewed, last_reviewed, nb_private_rooms, avg_price)

In [173]:
new_variables = {'first_reviewed': [earliest_rev],
                 'last_reviewed': [most_recent_rev],
                 'nb_private_rooms': [private_room_count],
                 'avg_price': [avg_price]
                }
review_dates = pd.DataFrame(new_variables)
print(review_dates)

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78

We get a result of a summary of the data that can make us have some understanding of how many private rooms were rented and reviewed within this duration and what is the average price in general including all other categories.